* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

#root {
    flex-grow: 1;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: hsla(220, 43%, 97%, 1);
    position: relative;
    gap: .8rem;
}

.bg-blob-1, .bg-blob-2 {
    position: absolute;
    z-index: 0;
}

.bg-blob-1 {
    background-color: hsla(210, 65%, 92%, 1);
    width: 140px;
    height: 100px;
    bottom: 0;
    left: 0;
    border-top-right-radius: 50% 90%;
    border-top-left-radius: 50% 20%;
    transform: translateX(-15%);
}

.bg-blob-2 {
    background-color: hsla(54, 100%, 91%, 1);
    width: 180px;
    height: 120px;
    top: 0;
    right: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 30%;
    transform: translate(30%, -30%) rotate(45deg);
}

.title {
    color: hsla(231, 42%, 28%, 1);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 31px;
    margin: 0;
}

.app-description {
    font-family: 'Inter', sans-serif;
    color: hsla(231, 42%, 28%, 1);
    font-weight: 400;
    font-size: 16px;
    padding: 0 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    margin-top: 1rem;
    padding: 16px 40px;
    background: hsla(230, 34%, 46%, 1);
    border-radius: 15px;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: hsla(220, 43%, 97%, 1);
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.btn:not(.disabled):hover {
    background-color: hsla(230, 34%, 40%)
}

.btn.disabled {
    background-color: hsla(220, 1%, 85%, 1);
}

.btn:focus {
    outline: none;
}

.btn--submit {
    margin: 0;
    padding: 11px 22px;
    font-weight: 600;
    font-size: 11px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 15px 0;
    gap: 13px;
    z-index: 1;
}

.question-container:not(:last-child) {
    border-bottom: 1px solid hsla(231, 42%, 90%, 1)
}

.question {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 16px;
    color: hsla(231, 42%, 28%, 1);
}

.answers {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}
.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    border: 1px solid hsla(231, 42%, 28%, 1);
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 11px;
    color: hsla(231, 42%, 28%, 1);
    cursor: pointer;
    background-color: hsla(220, 43%, 97%, 1);
    transition: background .1s ease-in-out, border .1s ease-in-out;
}

.answer.active {
    border-color: hsla(230, 61%, 90%, 1);
    background-color: hsla(230, 61%, 90%, 1)
}

.answer:not(.active):not(.success):not(.incorrect):not(.fail):hover {
    background-color: hsla(230, 61%, 90%, 0.4)
}

.answer.incorrect {
    opacity: 0.5;
}

.answer.success {
    background-color: hsla(133, 46%, 71%, 1);
    border-color: hsla(133, 46%, 71%, 1);
}

.answer.fail {
    background-color: hsla(360, 81%, 85%, 1);
    border-color: hsla(360, 81%, 85%, 1);
    opacity: 0.5;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.score {
    color: hsla(231, 42%, 28%, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 13px;
}

.gg-spinner {
    transform: scale(var(--ggs,1));
    color: hsla(230, 34%, 46%, 1);
    border-color: hsla(230, 34%, 46%, 1);
}
.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 20px
}
.gg-spinner::after,
.gg-spinner::before {
    content: "";
    position: absolute;
    border-radius: 100px
}
.gg-spinner::before {
    animation: spinner 1s
    cubic-bezier(.6,0,.4,1) infinite;
    border: 3px solid transparent;
    border-top-color: currentColor
}
.gg-spinner::after {
    border: 3px solid;
    opacity: .2
}
@keyframes spinner {
    0% { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}